<div class="container">
	<div class="page-header">
		<h1>All Reviews for <%= @user.username %></h1>
	</div>
<% if current_user != @user %>
	<p><%= link_to "New Review", new_user_review_path %></p>
<% end %>
<div class="panel panel-default box">
	<div class="panel-heading">
		12 month total reviews
	</div>
		<div class="panel-footer">
			<p><strong>Positive:</strong> <%= @positive_rating %></p>
		</div>
		<div class="panel-footer">
			<p><strong>Neutral:</strong> <%= @neutral_rating %></p>
		</div>
		<div class="panel-footer">
			<p><strong>Negative:</strong> <%= @negative_rating %></p>
		</div>
</div>
<% @reviews.each do |review| %>
	<% if review.rating == "Negative" %>
		<div class="panel panel-danger">
	<% end %>
	<% if review.rating == "Positive" %>
		<div class="panel panel-primary">
	<% end %>
	<% if review.rating == "Neutral" %>
		<div class="panel panel-success">
	<% end %>
	<div class="panel-heading">
	<p><%= review.rating %></p>
	</div>
	<div class="panel-body">
	<p>&nbsp;<%= review.description %></p>
	</div>
	<div class="panel-footer">
	<p><%= review.user.username %></p>
	</div>
	</div>
<% end %>
</div>