<div class="container">
<div class="panel panel-info">
  <div class="panel-heading">
    <h1>My Products</h1>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Condition</th>
          <th>Starting bid</th>
          <th>Location</th>
          <th>Quantity</th>
          <th>Buy now price</th>
          <th>Description</th>
          <th>Category</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= image_tag product.image.url (:thumb) %></td>
            <td><%= link_to product.name, product %></td>
            <td><%= product.condition %></td>
            <td><%= product.starting_bid %></td>
            <td><%= product.location %></td>
            <td><%= product.quantity %></td>
            <td><%= product.buy_now_price %></td>
            <td><%= product.description %></td>
            <td><%= product.category %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <div class="panel-footer">
    <%= link_to 'New Product', new_product_path %>
  </div>
</div>
</div>
