<div class="container">
  <%= link_to 'Back', products_path %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1><%= @product.name %></h1>
    </div>
    <div id="product_image">
      <%= link_to image_tag(@product.image.url (:medium)), product_image_path %>
    </div>
    <div class="panel-body">
      <strong><p>Condition:</strong> <%= @product.condition %></p>
      <p>
        <strong>Current bid:</strong>
        $<%= @product.starting_bid %> <%= link_to "Bid Now", new_product_bid_path(@product) %>
      </p>
      <strong><p>Buy Now Price:</strong> $<%= @product.buy_now_price %> <%= link_to "Buy Now", checkout_path(@product) %></p>
      <strong><p>Location:</strong> <%= @product.location %></p>
      <strong><p>Quantity:</strong> <%= @product.quantity %></p>
      <strong><p>Category:</strong> <%= @product.category %></p>
    </div>
    <div id="description" class="panel-footer">
      <div class="page-header">
        <h2>Item Description</h2>
      </div>
      <p><%= @product.description %></p>
      <p>Seller info: <%= link_to (@product.user.username), user_path(@product.user_id) %></p>
    </div>
  </div>
</div>