<%= link_to 'Back', products_path %>
<p>
  <strong>Image:</strong>
  <%= image_tag @product.image.url (:medium) %>
</p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @product.condition %>
</p>

<p>
  <strong>Current bid:</strong>
  <% @product.bids.each do |bid| %>
    <% while (@product.starting_bid < bid.amount) %>
      <% @product.starting_bid = bid.amount %>
      <% @product.save %>
    <% end %>
  <% end %>
  <%= @product.starting_bid %> <%= link_to "Bid Now", new_product_bid_path(@product) %>
</p>

<p>
  <strong>Location:</strong>
  <%= @product.location %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Buy now price:</strong>
  <%= @product.buy_now_price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Seller:</strong>
  <%= link_to (@product.user.username), user_path(@product.user_id) %>
</p>